.tooltip-box {
  background: #C7F7E7;
  border: 1px solid white;
  color: black;
  padding: 10px;
  border-radius: 6px;
}

.bubble-tooltip {
  position: absolute;
  pointer-events: none;
  padding: 10px;
  background: #C7F7E7;
  color: black;
  border: 2px solid white;
  border-radius: 8px;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  max-width: 270px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
  z-index: 1000;
}
