.sidebar {
  width: 260px;
  height: 100%;
  background: #000;
  padding: 20px;
  border-right: 3px solid #C6F7E7;
  color: white;
  overflow-y: auto;
  font-family: system-ui, sans-serif;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #C6F7E7;
}

.sidebar-section {
  margin-bottom: 22px;
}

.sidebar-label {
  display: block;
  margin-bottom: 6px;
  font-size: 1.1rem;
}

.sidebar-input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 6px;
  border: 2px solid #C6F7E7;
  background: black;
  color: white;
  margin-top: 5px;
}

.genre-scroll-area {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px 6px 5px 14px;
  border: 1px solid #C6F7E7;
  border-radius: 6px;
}

.genre-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
  cursor: pointer;
}

.genre-item:hover {
  color: #C6F7E7;
}

.no-results {
  color: #bbb;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Container */
.sidebar-mode-control {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Buttons */
.sidebar-mode-btn {
  padding: 6px 12px;
  background: #111;
  border: 2px solid #C6F7E7;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.15s ease;
}

.sidebar-mode-btn:hover {
  background: #333;
}

.sidebar-mode-btn.active {
  background: #E7D0F5;
  color: black;
  font-weight: 700;
}

.sidebar-refresh-btn {
  padding: 6px 12px;
  background: #C6F7E7;
  color: black;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar-refresh-btn:hover {
  background: #b8f0df;
}