.sidebar {
  width: 260px;
  height: 100%;
  background: #000;
  padding: 20px;
  border-right: 3px solid #C7F7E7;
  color: white;
  overflow-y: auto;
  font-family: system-ui, sans-serif;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #C7F7E7;
}

.sidebar-section {
  margin-bottom: 22px;
}

.sidebar-label {
  display: block;
  margin-bottom: 6px;
  font-size: 1.1rem;
}

.sidebar-input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 6px;
  border: 2px solid #C7F7E7;
  background: black;
  color: white;
  margin-top: 5px;
}

.genre-scroll-area {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px 6px 5px 14px;
  border: 1px solid #C7F7E7;
  border-radius: 6px;
}

.genre-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
  cursor: pointer;
}

.genre-item:hover {
  color: #C7F7E7;
}

.no-results {
  color: #bbb;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Container */
.sidebar-mode-control {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Buttons */
.sidebar-mode-btn {
  padding: 6px 12px;
  background: #111;
  border: 2px solid #C7F7E7;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.15s ease;
}

.sidebar-mode-btn:hover {
  background: #333;
}

.sidebar-mode-btn.active {
  background: #e5c5f5;
  color: black;
  font-weight: 700;
}

.sidebar-refresh-btn {
  padding: 6px 12px;
  background: #C7F7E7;
  color: black;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar-refresh-btn:hover {
  background: #b8f0df;
}

.dual-slider {
  position: relative;
  height: 32px;
  margin-top: 10px;
}

.dual-slider-track {
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  height: 4px;
  background: #444;
  border-radius: 2px;
}

.dual-slider-range {
  position: absolute;
  top: 14px;
  height: 4px;
  background: #C7F7E7;
  border-radius: 2px;
}

.dual-slider-thumb {
  position: absolute;
  top: 8px;
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid #C7F7E7;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  z-index: 5;
}

.year-range-display {
  margin-top: 6px;
  font-size: 0.85rem;
  color: #C7F7E7;
}

.movie-count-input {
  width: 100%;
  appearance: none;
  background: transparent;
  height: 32px;
  margin-top: 6px;

  --fill: 0%;
}

.movie-count-input::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 3px;
  background: 
    linear-gradient(
      to right,
      #C7F7E7 0%,
      #C7F7E7 var(--fill),
      #444 var(--fill),
      #444 100%
    );
}

.movie-count-input::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  margin-top: -7px;
  background: white;
  border: 2px solid #C7F7E7;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
