/* Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-overlay.hide {
  opacity: 0;
  pointer-events: none;
}

/* Modal Box */
.modal-box {
  background: #C7F7E7;
  border: 3px solid white;
  color: black;
  padding: 30px;
  border-radius: 12px;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  font-family: system-ui, sans-serif;

  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.modal-box.show {
  opacity: 1;
  transform: scale(1);
}

.modal-box.hide {
  opacity: 0;
  transform: scale(0.95);
}

.modal-close-btn {
  margin-top: 20px;
  padding: 10px 16px;
  background-color: white;
  border: 2px solid #A0E8D3;
  color: black;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.modal-close-btn:hover {
  background-color: #A0E8D3;
}

.modal-title {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.modal-watch-link {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
  text-decoration: underline;
}

.modal-description {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.modal-close-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-close-btn {
  padding: 10px 25px;
  background: black;
  color: white;
  border: 2px solid #C7F7E7;
  border-radius: 6px;
  cursor: pointer;
}

.modal-close-btn:hover {
  background: #333;
}
