.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: #C7F7E7;
  border: 3px solid white;
  color: black;
  padding: 30px;
  border-radius: 12px;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  font-family: system-ui, sans-serif;
}

.modal-title {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.modal-watch-link {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
  text-decoration: underline;
}

.modal-description {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.modal-close-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-close-btn {
  padding: 10px 25px;
  background: black;
  color: white;
  border: 2px solid #C7F7E7;
  border-radius: 6px;
  cursor: pointer;
}

.modal-close-btn:hover {
  background: #333;
}
